body {font-family: Arial, sans-serif;}

section { padding: 20px;}

form label, form input, form textarea {margin-bottom: 10px;}

nav a {
    color: #333;
    text-decoration: none;
    margin: 0 10px;
}

form {
    display: inline-block;
    margin: auto;
    text-align: left;
    display: flex;
    flex-direction: column;
}

form input:hover{
    background-color: rgb(235, 255, 255);
}

nav {
    display: flex;
    justify-content: space-between;
    max-width: 800px;
    margin: auto;
}

#about h2, #projects h2, #contact h2 {
    font-size: 28px;
    margin-bottom: 10px;
}

#contact {width: 300px;}

.fixed{
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100%;
 }

.header {
    background-color: #f5f5f5;
    padding: 10px;
    text-align: center;
}

.header h1 {
    margin: 0;
}

.project-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.project-card {
    text-align: center;
    width: 20%;
    margin: 10px;
    padding: 10px;
    background-color: #f5f5f5;
}

.project-card img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}